<div class="container">
    <h1>Detalles del producto</h1>
   
    <a href="#" routerLink="/product/index" class="btn btn-primary">Regresar</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ product.product_id }}</p>
    </div>
    
    <div>
        <strong>Nombre:</strong>
        <p>{{ product.name }}</p>
    </div>
    
    <div>
        <strong>Descripcion:</strong>
        <p>{{ product.description }}</p>
    </div>

    <div>
        <strong>Codigo:</strong>
        <p>{{ product.reference }}</p>
    </div>
    
</div>